@import "tailwindcss";

:root {
  --background-home: rgba(203, 210, 237, 1);
  --background-about: rgba(207, 233, 210, 1);
  --background-portfolio: rgba(255, 240, 214, 1);
  --background-contact: rgba(233, 202, 220, 1);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
